{% extends 'base.html' %}
 
{% block content %}
<div class="sect container">
    <h2>Регистрация</h2>
    <div class="block-center">
        <form method="post" id="register">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <p ><button class="form-button" type="submit">Регистрация</button></p>
        </form>
    </div>
</div>
{% endblock %}
